<#import "/spring.ftl" as spring />
<#assign xhtmlCompliant = true in spring>
<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
</head>
<body>

<header>
     <a href="/products">products</a>
     <a href="/randoms">randoms</a>
</header>


</body>
</html>